<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="Logfile" fileName="log/aip-update.log">
      <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="error">
     	<AppenderRef ref="Logfile" level="error" />
    </Root>
    <Logger name="com" level="debug">
       <AppenderRef ref="Console" level="debug" />
    </Logger> 
  </Loggers>
</Configuration>